[Unit]
Description=FSP File Service Protocol
Documentation=http://fsp.sourceforge.net
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="PATH={{ retronas_root }}/bin/fsp:$PATH"
ExecStart={{ retronas_root }}/bin/fsp/bin/fspd
TimeoutStopSec=10
Restart=on-failure

[Install]
WantedBy=default.target
