<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sidecart</title>
    </head>
    <style>
    body {
        font-family: fixed;
    }
    </style>
    <body>
        <h1>Sidecart - Atari ST</h1>
        <div>
            <h2>Configurator Settings</h2>
            <table border="1">
                <thead>
                    <th>Option</th>
                    <th>Setting</th>
                </thead>
                <tbody>
                    <tr><td>FLOPPY_DB_URL</td><td>http://retronas/files/atarist/sidecart</td></tr>
                    <tr><td>ROMS_YAML_URL</td><td>http://retronas/files/atarist/sidecart/roms.json</td></tr>
                </tbody>
            </table>
        </div>
        <p></p>
        <div>
            <h2>Paths</h2>
            <ul>
                <li><a href="floppies" title="">floppies</a></li>
                <li><a href="roms" title="">roms</a></li>
            </ul>
        </div>
    </body>
</html>