interface={{ hostapd_retronas_wifi_interface }}
ssid={{ hostapd_retronas_wifi_ssid }}
channel={{ hostapd_retronas_wifi_channel }}
hw_mode={{ hostapd_retronas_wifi_hwmode }}
country_code={{ hostapd_retronas_wifi_countrycode }}
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP CCMP
rsn_pairwise=CCMP
wpa_passphrase={{ retronas_wifi_password }}
ieee80211d=1
ieee80211n=1

# attempts to fix disassociation of c64 wifi
disassoc_low_ack=0 
beacon_int=100
dtim_period=2
wpa_ptk_rekey=600
