[Unit]
Description=Access point and authentication server for retronas
Documentation=man:hostapd(8)
Requires=network.target
After=network.target
StartLimitIntervalSec=2
StartLimitBurst=5

[Service]
Type=forking
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd-retronas.pid /etc/hostapd/hostapd-retronas.conf
RestartSec=5m
TimeoutStartSec=8s
Restart=on-failure

[Install]
WantedBy=multi-user.target
