#!/bin/bash

set -u

APP=pfsshell
REPO=https://github.com/ps2homebrew/${APP}.git
OUTPATH=/tmp

function _log {
	echo "$1"
}

### REQUIREMENTS
REQFAIL=0
#[ ! -x /usr/bin/gmake ] && _log "GMAKE not found" && REQFAIL=1
[ $REQFAIL -ne 0 ] && _log "Requirements failed, see previous errors" && exit $REQFAIL


cd $OUTPATH
if [ ! -f ${OUTPATH}/${APP}/.git/config ] 
then
	git clone $REPO
else
	cd ${OUTPATH}/${APP}
	git pull
fi

cd ${OUTPATH}/${APP}

git submodule update --remote
meson setup -Denable_pfsfuse=true build
ninja -C build
ninja -C build install

# CLEAN UP
rm -Rf ${OUTPATH}/${APP}
