
body {
	width: 100%;
	overflow-y: scroll !important;
}

.centerme {
	text-align:center !important;
}

.container-fluid {
	text-align:center;
}

#intro {
	padding-top:0.5em;
}

.retronas-menu {
	display:inline-block;
	padding-top:1em;
}

.rn-menu-item {
	display: inline;
	padding: 1em;
}

.rn-menu-hover:hover {
	background-color: rgb(241, 241, 238);
}

#rn-about img {
	width:64px;
	height:auto;
}

.rn-page-container {
	text-align: left;
	padding-top:1em;
	line-height: 1.9em;
}

.rn-wide-view {
	text-align: left;
}

.rn-wide-view div {
	height:2.5em;
	width:100%;
}

.rn-wide-view div button {
	float:right;
}

.rn-wide-view li {
	padding-left:1em;
}

.rn-hidden {
	display:none;
}

.rn-show {
	display:block;
}

#rn-about-page ul {
	display:inline-block;
}

#rn-about-page ul>li {
	display:inline;
}

#rn-log-page {
	text-align:center;
}

#log-area {
	text-align: left;
	width:100%;
	height:80%;
	border:1px solid black;
	overflow:scroll;
	font-family: monospace;
    white-space: pre;
	line-height: normal;
}

.info {
	background-color: rgb(152, 175, 251);
	color: white;
	border:1px solid rgb(127, 119, 250);
	width: 100%;
	height: 2em;
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	text-transform:uppercase;
	margin-top:1em;
	margin-bottom:1em;

}

.warning {
	background-color: rgb(240, 142, 142);
	color: white;
	border:1px solid red;
	width: 100%;
	height: 2em;
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	text-transform:uppercase;
	margin-top:1em;
	margin-bottom:1em;
}