<?xml version="1.0" encoding="utf-8"?>
<service>
  <port port="8080" protocol="tcp"/>
  <port port="5194" protocol="tcp"/>
  <port port="5190" protocol="tcp"/>
  <port port="5195" protocol="tcp"/>
  <port port="5191" protocol="tcp"/>
  <port port="5193" protocol="tcp"/>
  <port port="5912" protocol="tcp"/>
  <port port="5196" protocol="tcp"/>
  <port port="5197" protocol="tcp"/>
</service>