#!/bin/bash

_CONFIG=/opt/retronas/config/retronas.cfg
source $_CONFIG
source ${LIBDIR}/common.sh

#CHECK_ROOT
HDPARM=/usr/sbin/hdparm
SERVICE="hdparm"
SELECTION={{ retronas_path }}/config/hdparm-manager-drive

# check for previous selection or default to /dev/sda
if [ -f $SELECTION ]
then
  DRIVE=$(cat $SELECTION)
else
  DRIVE=/dev/sda
fi

function drive_selector {
  PS3="Select a drive ($DRIVE): "
  select DRIVE in $(lsblk --all --list --noheadings | awk '/disk/{print "/dev/"$1}') quit
  do
    [ $DRIVE == "quit" ] && exit
    echo $DRIVE > $SELECTION
    exit
  done
}

case $(basename $0 .sh) in
    hdparm-manager-drive-selector)
        drive_selector
    ;;
    hdparm-manager-disable-apm)
        sudo ${HDPARM} -B 255 $DRIVE
    ;;
    hdparm-manager-disable-standby)
        sudo ${HDPARM} -S 0 $DRIVE
    ;;
    hdparm-manager-start-service)
      # Start Service
        sudo systemctl reset-failed ${SERVICE}.service
        sudo systemctl restart ${SERVICE}.timer
        sudo systemctl restart ${SERVICE}.service
    ;;
    hdparm-manager-query-service)
      # Start Service
        sudo systemctl status ${SERVICE}.timer
        sudo systemctl status ${SERVICE}.service
    ;;
    hdparm-manager-stop-service)
      # Start Service
        sudo systemctl stop ${SERVICE}.timer
        sudo systemctl stop ${SERVICE}.service

        sudo systemctl disable ${SERVICE}.timer
        sudo systemctl disable ${SERVICE}.service
    ;;
    *)
    exit 1
    ;;
esac