#!/bin/bash
# still based on https://github.com/Kazade/dreampi/issues/17

DPITMP=$(mktemp -d)
OUTDIR=/opt/netlink

# clone the repo and switch to the python3 branch
cd $DPITMP
SOURCECODE=$( curl -kLs https://api.github.com/repos/eaudunord/Netlink/releases | jq -r ".[0].assets | map(select(.name | match (\"Netlink_Tunnel\")))[-1] | .browser_download_url" )
[ -z "$SOURCECODE" ] && echo "Couldn't get source code name" && exit 1
echo $SOURCECODE

RELEASE=$(basename "${SOURCECODE}") 
[ ! -f $RELEASE ] && curl -OJL "${SOURCECODE}"

# unpack and clean
[ ! -d $OUTDIR ] && mkdir -p $OUTDIR
unzip $RELEASE -x "*/winPython/*" "*.bat"
cp -R Netlink_Tunnel*/* $OUTDIR/

# pull python3 requirements from dreampi
curl -O https://raw.githubusercontent.com/sairuk/dreampi/master/requirements.txt
python3 -m pip install -r requirements.txt