#!/bin/bash

if [ "${USER}" == "root" ]
then
  SUCOMMAND="sudo -u {{ retronas_user }}"
else
  SUCOMMAND=""
fi

cd {{ retronas_path }}/gog || exit 1
${SUCOMMAND} {{ retronas_root }}/bin/gogrepo/gogrepo.py login
