#!/bin/bash
echo ""
echo "Refreshing GOG manifest..."
echo ""

mkdir -p ~/.gogrepo 2>/dev/null
cd ~/.gogrepo

if [ "${@}" == "" ]
then
  /opt/retronas/bin/gogrepo/gogrepo.py update -skipknown
else
  /opt/retronas/bin/gogrepo/gogrepo.py update ${@}
fi
