[Unit]
Description=retronas-mister-dirs
After=multi-user.target

[Service]
Type=simple
Restart=no
ExecStart=/opt/retronas/scripts/retronas-mister-dirs.sh
TimeoutStartSec=0
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
