{
    "LISTEN_PORT": 8888,
    "DATE": "20011025",
    "DATE_TOLERANCE": 365,
    "GEOCITIES_FIX": true,
    "QUICK_IMAGES": true,
    "WAYBACK_API": true,
    "CONTENT_TYPE_ENCODING": true,
    "SILENT": false,
    "SETTINGS_PAGE": true
}