[Unit]
Description=xlink-kai
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
User={{ retronas_user }}
ExecStart=/usr/bin/kaiengine
KillSignal=3
RestartKillSignal=3
SuccessExitStatus=3 SIGQUIT QUIT
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target