#!/bin/bash

ENDPOINT=http://ftp.us.debian.org/debian/pool/main/d/deluge/
VERSION=${1:-2.1.2~dev0+20230918-1_all.deb}

PACKAGES=(
  deluge-common
  deluge-web
  deluge-console
  deluged
)

DTMPDIR=$(mktemp -d)
DEBFILES=()

cd $DTMPDIR

for PACKAGE in ${PACKAGES[@]}
do
  PNAME=${PACKAGE}_${VERSION}
  curl -s -O${PNAME} $ENDPOINT/${PNAME}
  DEBFILES+=" ./${PNAME}"
done

apt update
apt install -y ${DEBFILES}
rm -f ${DEBFILES}

sed -i 's/debian-deluged/{{ retronas_user }}/' /usr/lib/systemd/system/deluged.service
sed -i 's/debian-deluged/{{ retronas_user }}/' /usr/lib/systemd/system/deluge-web.service

#usermod -a -G debian-deluged {{ retronas_user }}
chown {{ retronas_user }}:{{ retronas_group }} -R /var/lib/deluged/

systemctl daemon-reload
sleep 2
systemctl stop deluge*
systemctl restart deluge*
