#!/bin/bash

### SETUP
APP=DiscImageCreator
APPREPO=saramibreak
APPLOW=$(echo $APP | tr [:upper:] [:lower:])
APPEXEC=${APP}

ECCEDC=/opt/eccedc/EccEdc_linux.out
DVDAUTH=/opt/dvdauth/DVDAuth_linux.out

LOCALTMP=$( mktemp -d /tmp/${APPLOW}-XXXX )
LOCALFILE=/${LOCALTMP}/${APPLOW}.zip
LOCALDIR=/opt/${APPLOW}
LOCALSCRIPT=/usr/local/bin/${APPLOW}
APPFILES=${LOCALDIR}/*

PATTERN=*archive.*zip
GITHRELS=https://github.com/${APPREPO}/${APP}/tags

### DISCOVERY
#REDIRECT=$( curl -k -s ${GITHRELS} | awk -F '"' '{print $2}' )
RELEASE=$( curl -Lks "${GITHRELS}" | awk -F '"' /href.*${PATTERN}/'{print $4}' | head -n1 )


### DOWNLOAD
# -- Download
[ ! -f ${LOCALFILE} ] && curl -k -L -o ${LOCALFILE} "https://github.com/${RELEASE}"
[ $? -ne 0 ] && echo "Sadness getting ${APP}" && exit 1


### LOCAL
[ ! -d ${LOCALDIR} ] && /bin/mkdir ${LOCALDIR} || echo "Missing ${LOCALDIR}"


### UNPACK
[ -f ${LOCALFILE} ] && /usr/bin/unzip -o ${LOCALFILE} -d ${LOCALTMP} || echo "Missing: ${LOCALFILE}"

### BUILD
cd ${LOCALTMP}/${APP}-*/${APP}
make

### INSTALL
[ -f ${LOCALTMP}/${APP}-*/${APP}/${APPEXEC} ] && mv ${LOCALTMP}/${APP}-*/${APP}/${APPEXEC} ${LOCALDIR}/

cat << EOST > ${LOCALSCRIPT}
#!/bin/bash
cd ${LOCALDIR}
${LOCALDIR}/${APPEXEC} $*
EOST

### PERMISSIONS
chmod +x ${LOCALSCRIPT}
chmod 755 ${LOCALSCRIPT}


### TOOL DEPS (EccEdc, DVDAuth)
ln -sf ${ECCEDC} ${LOCALDIR}/
ln -sf ${DVDAUTH} ${LOCALDIR}/

### ASSETS
ASSET_DIR=${LOCALTMP}/${APP}-*/Release_ANSI
cp ${ASSET_DIR}/*.txt ${LOCALDIR}/
cp -R ${ASSET_DIR}/Doc ${LOCALDIR}/


### CLEANUP
rm -rf ${LOCALTMP}