#ADTPro.properties
AudioHardwareIndex=0
AudioPortIndex=0
Client01xCompatibleProtocol=false
CommPort=/dev/ttyUSB0
CommPortBootstrapPacing=250
CommPortBootstrapSpeed=9600
CommPortSpeed=9600
HardwareHandshaking=false
SerialIPHost=0.0.0.0
SerialIPPort=1977
TraceEnabled=false
UDPServerPort=6502
WorkingDirectory={{ retronas_path }}/adtpro