#ADTPro.properties
CommPort=/dev/ttyUSB0
CommPortSpeed=9600
CommPortBootstrapSpeed=9600
WorkingDirectory={{ my_dir }}
SerialIPHost=0.0.0.0
CommPortBootstrapPacing=250
HardwareHandshaking=false
TraceEnabled=false
SerialIPPort=1977