#!/bin/bash

BINDIR="{{ retronas_root }}/bin"

echo "Downloading seaweedfs..."
TARFILE=linux_$(dpkg --print-architecture).tar.gz

RELEASE=$( curl -kLs https://api.github.com/repos/seaweedfs/seaweedfs/releases | jq -r ".[0].assets | map(select(.name | match (\"^${TARFILE}$\")))[-1] | .browser_download_url" )
[ -z "$RELEASE" ] && echo "Couldn't get release" && exit 1

echo $RELEASE
cd /tmp
curl -ksOJL "${RELEASE}"
tar xvf ${TARFILE}

echo "Moving binary to RetroNAS bin dir..."
mkdir -p "${BINDIR}" 2>/dev/null
mv -vf weed "${BINDIR}"/

echo "Cleaning up..."
rm -f "/tmp/${RELEASE}"

echo "All done!"
