<?xml version="1.0" encoding="utf-8"?>
<service>
  # master
  <port port="9333" protocol="tcp"/>
  <port port="19333" protocol="tcp"/>
  # volume
  <port port="8080" protocol="tcp"/>
  <port port="18080" protocol="tcp"/>
  # filer
  <port port="8888" protocol="tcp"/>
  <port port="18888" protocol="tcp"/>
  # s3
  <port port="8333" protocol="tcp"/>
</service>