#!/bin/bash

_CONFIG=/opt/retronas/config/retronas.cfg
source $_CONFIG
source ${LIBDIR}/common.sh

WEEDCONF=${1:-/opt/retronas/bin/weed-retronas-s3.json}
MATCH=${2:-retronas}

if [ -f ${WEEDCONF} ]
then
    echo "Credentials for the identity: ${MATCH}"
    jq -r ".[][] | select(.name == \"${MATCH}\").credentials[]" ${WEEDCONF}
else
    echo "Config file not found: ${WEEDCONF}"
fi

PAUSE