#!/bin/bash

# Set paths
export RNDIR=/opt/retronas
export ANDIR=${RNDIR}/ansible
export ANCFG=${ANDIR}/retronas_vars.yml
export DIDIR=${RNDIR}/dialog
export TDIR=/dev/shm/retronas

rm -rf "${TDIR}" 2>/dev/null
mkdir -p "${TDIR}" 2>/dev/null

# RetroNAS menu geometry
export MH="80"
export MW="24"
export MG="${MW} ${MH}"

# Find the current config items
export OLDRNUSER=$( grep ^retronas_user: ${ANCFG} | awk '{print $2}' | tr -d '"' )
export OLDRNPATH="$( grep ^retronas_path: ${ANCFG} | awk '{print $2}' | tr -d '"' )"
export OLDETHERDFSIF=$( grep ^retronas_etherdfs_interface: ${ANCFG} | awk '{print $2}' | tr -d '"' )

# Set some messages
export PAUSEMSG='Press [Enter] to continue...'

# Find IPs
export MY_IPS=$( ip a | grep 'inet ' | awk '{print $2}' | awk -F '/' '{print $1}' | grep -v ^127 )

# GOG Operating System
export OLDGOGOS="$( grep ^retronas_gog_os: ${ANCFG} | awk -F '"' '{print $2}' | tr -d '"' )"
