#!/bin/bash

set -u

# Set paths
export RNDIR=/opt/retronas
export ANDIR=${RNDIR}/ansible
export ANCFG=${ANDIR}/retronas_vars.yml
export DIDIR=${RNDIR}/dialog
export TDIR=/dev/shm/retronas
export RNLANG="en_US.UTF-8"

[ -d "${TDIR}" ] && rm -rf "${TDIR}" 2>/dev/null
mkdir -p "${TDIR}" 2>/dev/null

# RetroNAS menu geometry
export MH="80"
export MW="24"
export MG="${MW} ${MH}"

# Find the current config items
export OLDRNUSER="$( awk '/^retronas_user:/{print $2}' ${ANCFG} | tr -d '"' )"
export OLDRNPATH="$( awk '/^retronas_path:/{print $2}' ${ANCFG} | tr -d '"' )"
export OLDETHERDFSIF=$( awk '/retronas_etherdfs_interface:/{print $2}' ${ANCFG} | tr -d '"' )

# Set some messages
export PAUSEMSG='Press [Enter] to continue...'

# Find IPs
#export MY_IPS=$( ip a | grep 'inet ' | awk '/inet/{print $2}' | awk -F '/' '{print $1}' | grep -v ^127  )
export MY_IPV4=$( ip -4 -br a | awk '!/127/{sub(/\/[0-9].+$/, ""); print $3}' )
export MY_IPV6=$( ip -6 -br a | awk '!/::1/{sub(/\/[0-9].+$/, ""); print $3}' )
export MY_IPS=( $MY_IPV4 $MY_IPV6 )

# GOG Operating System
export OLDGOGOS="$( awk '/^retronas_gog_os:/{print $2}' ${ANCFG} | tr -d '"' )"
