#!/bin/bash

set -u

RN_BIN=/usr/local/bin/

APP=megatools
REPO=https://megous.com/git/${APP}
OUTPATH=/tmp

function _log {
	echo "$1"
}

### REQUIREMENTS
REQFAIL=0
#[ ! -x /usr/bin/make ] && _log "MAKE not found" && REQFAIL=1
[ $REQFAIL -ne 0 ] && _log "Requirements failed, see previous errors" && exit $REQFAIL


cd $OUTPATH
if [ ! -f ${OUTPATH}/${APP}/.git/config ] 
then
	git clone $REPO
else
	cd ${OUTPATH}/${APP}
	git pull
fi

cd ${OUTPATH}/${APP}

# patch for old debian glib
sed -i 's/g_memdup2/g_memdup/g' lib/mega.c
#

mkdir build
cd build
meson ..
ninja

mv ${OUTPATH}/${APP}/build/megatools $RN_BIN/

# CLEAN UP
rm -Rf ${OUTPATH}/${APP}
