#!/bin/bash

export PATH={{ retronas_root }}/bin/dotnetcore6:{{ retronas_root }}/bin/dotnetcore6/tools:${PATH}
export DOTNET_ROOT={{ retronas_root }}/bin/dotnetcore6
export DOTNET_INSTALL_DIR={{ retronas_root }}/bin/dotnetcore6

SRCDIR="{{ retronas_root }}/src"
BINDIR="{{ retronas_root }}/bin"

rm -rf "${SRCDIR}"
mkdir -p "${SRCDIR}"
cd "${SRCDIR}"

# Clone the WebOne repo
git clone https://github.com/atauenis/webone.git

cd webone

# Fix a case-sensitive file issue
sed -i 's/webone.csproj/WebOne.csproj/g' WebOne.sln

# Install the dotnet-tarball tool
dotnet tool install --global dotnet-tarball

# Follow build guide from WebOne README.md
dotnet restore
dotnet publish -c Release
dotnet build -c Release

# Move the binaries into the bindir
mkdir -p "${BINDIR}/webone"
mv -vf ${SRCDIR}/webone/bin/Release/net6.0/* "${BINDIR}/webone/"

# Cleanup
rm -rf "${SRCDIR}"
