#!/usr/bin/env python3
# 
# https://git.shipoclu.com/moon/enigma-bbs/src/commit/60369ea378be82cd76ba954577b9bd34dec919a3/core/oputil/oputil_file_base.js
# https://web.archive.org/web/20060507083451/http://www.filegate.net/info/filegate.zxx
#

import os, yaml

RN_SYSTEMS="{{ retronas_root }}/ansible/retronas_systems.yml"

ignored = [
    'system_map', 
    'system_links',
    "system_template", 
]


def main():
    ind =  open(RN_SYSTEMS,'r').read()
    data = yaml.safe_load(ind)

    print("% File Echo                   Description")
    print("%")

    for key in data.keys():
        if key not in ignored:
            for item in data[key]:
                if item["pretty_name"] != "":
                    d = item["src"]
                    n = item["pretty_name"]
                    print(f"Area {d}  0     !      RTNS: {n}")
    print("%")
    print("% End of RetroNAS Fileecho List")

if __name__ == "__main__":
    main()
