<?xml version="1.0" encoding="utf-8"?>
<service>
  <port port="23" protocol="tcp"/>
  <port port="513" protocol="tcp"/>
  <port port="22" protocol="tcp"/>
  <port port="24554" protocol="tcp"/>
  <port port="21" protocol="tcp"/>
  <port port="119" protocol="tcp"/>
  <port port="110" protocol="tcp"/>
  <port port="25" protocol="tcp"/>
</service>