[General]
        MassUpload         = true

[MassUpload]

        ; this function searches all configured file directories for new
        ; files and will upload them into the BBS.  It will attempt to
        ; import FILE_ID.DIZ using the configured archivers if the option
        ; is enabled.

        ; Name to save has the uploader

        uploader_name = RetroNAS

        ; Import FILE_ID.DIZ?  1=yes

        import_fileid = 1

        ; Rename filenames that are longer than the maximum allowed length
        length_rename = false

        ; No description string used when no FILE_ID.DIZ is imported.

        no_description = No Description

        ; Ignore list one file mask per line (allows * and ? wildcards)

        ignore = files.bbs
        ;ignore = *.readme