#!/bin/bash

set -u

_CONFIG=/opt/retronas/config/retronas.cfg
source $_CONFIG
source ${LIBDIR}/common.sh


APP=RASCSI
RELEASE=v22.10.01
REPO=https://github.com/akuker/${APP}.git
SRCDIR={{ retronas_root }}/src/
RPI=0
CONNECT_TYPE=${1:-standard}

function _log {
        echo "$1"
}

### REQUIREMENTS
REQFAIL=0
[ $REQFAIL -ne 0 ] && _log "Requirements failed, see previous errors" && exit $REQFAIL


[ ! -d $SRCDIR ] && mkdir -p $SRCDIR
cd $SRCDIR



if [ ! -f ${SRCDIR}/${APP}/.git/config ]
then
	git clone $REPO
else
	cd ${SRCDIR}/${APP}
	git pull
fi

# BUILD TYPE
case $CONNECT_TYPE in
	fullspec)
			# FULL SPEC BOARD
			CONNECT_TYPE=FULLSPEC
			;;
	standard)
			# STANDARD BOARD
			CONNECT_TYPE=STANDARD
			;;
	*)
			_log "Please pass a board type fullspec or standard"
			exit 1
esac

# easinstall does a root check
#chown -R {{ retronas_user }}: ${SRCDIR}/${APP}
#DROP_ROOT

# PATCH MAKEFILE
"git apply -3 {{ retronas_root }}/src/rascsi_retronas_patch.diff"

# BUILD STANDALONE
make clean
make all CONNECT_TYPE=${CONNECT_TYPE}
sudo make install CONNECT_TYPE=${CONNECT_TYPE}
#sudo -A -u {{ retronas_user }} "./easyinstall.sh -h -j=$(nproc) -r=10 -c=$CONNECT_TYPE 2>&1 | tee {{ retronas_root }}/${APP}_build.log" -S

#RESTORE MAKEFILE
"git apply -3 -R {{ retronas_root }}/src/rascsi_retronas_patch.diff"