[Unit]
Description=rascsi
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory={{ retronas_root }}/bin/RASCSI
Environment=PATH=$PATH:{{ retronas_root }}/bin/RASCSI
ExecStart={{ retronas_root }}/bin/RASCSI/rascsi -F /home/{{ retronas_user }}/rascsi
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target