[Unit]
Description=rascsi
After=multi-user.target

[Service]
User={{ retronas_user }}
Type=simple
Restart=always
WorkingDirectory=/{{ retronas_root }}/bin/RASCSI
Environment=PYTHONPATH=/opt/{{ my_name }}
Environment=PATH=$PATH:/{{ retronas_root }}/bin/RASCSI
ExecStart=/{{ retronas_root }}/bin/RASCSI/rascsi -F {{ retronas_path }}/rascsi"
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target