[Unit]
Description=retronas-romm-dirs
After=multi-user.target

[Service]
Type=simple
Restart=no
WorkingDirectory=/opt/retronas/ansible
ExecStartPre=/usr/bin/git reset --hard HEAD
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/bin/ansible-playbook {{ my_file }}.yml
TimeoutStartSec=0
RemainAfterExit=no

[Install]
WantedBy=multi-user.target