<?xml version="1.0"?>
<ConfigCls xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <GUID></GUID>
  <Created></Created>
  <LastSaved></LastSaved>
  <COM_Port>/dev/ttyS0</COM_Port>
  <PromptForChannel>false</PromptForChannel>
  <TXDelay>700</TXDelay>
  <PakFolder>{{ retronas_path }}/nabu</PakFolder>
  <UseLocalFolder>false</UseLocalFolder>
  <StartServer>true</StartServer>
  <StartMinimized>true</StartMinimized>
  <BaudRate>111000</BaudRate>
</ConfigCls>