[Unit]
Description={{ my_name }}
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
User={{ retronas_user }}
WorkingDirectory={{ my_dir }}
ExecStart={{ my_dir }}/{{ my_name }}_retronas.sh start
Restart=on-failure
RestartSec=2
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target