[Unit]
Description=Dex Drive service
ConditionPathExists=/dev/ttyUSB0

[Service]
Type=forking
ExecStart=/usr/local/bin/dexattach -D /dev/ttyUSB0
TimeoutStopSec=10
Restart=no

[Install]
WantedBy=default.target
