#!/bin/bash

set -eu

IFS=$'\n'
DEVICE=""
DEVICES=()
DEVICES+=($(lsblk -sl 2>/dev/null | awk '/(disk|part|rom)/{print $1" ("$4")"}' | sort -u))
DEVICES+=($(ls -la {{ retronas_path }}/images/* 2>/dev/null | awk '{print $9}'))
DEVICES+=("quit")

{% raw %}

if ${#DEVICES[@]} -le 1 ]
then
  echo "No targets found, exiting ... "
  exit 1
fi

select SDEVICE in "${DEVICES[@]}"
do
    DEVICE="$(echo ${SDEVICE} | awk -F ' ' '{print $1}')"
    [ $SDEVICE == "quit" ] && echo "User requested exit ..." && exit 0
    [ ! -z "${DEVICE}" ] && break
done

echo $DEVICE

{% endraw %}
