- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "kermit"
    - my_file: "install_{{ my_name }}"

    - packages:
      - ckermit

    - systemd_units:
      - { name: "iksd.socket", enabled: yes, state: 'restarted' }

    - templates:
      - { name: "iksd@.service", dest: "/etc/systemd/system" }
      - { name: "iksd.socket", dest: "/etc/systemd/system" }

  tasks:

  - name: "{{ my_name }}  - Load RetroNAS config"
    ansible.builtin.include_vars: retronas_vars.yml

  - ansible.builtin.import_role:
      name: retronas.role.package.latest

  - name: "{{ my_name }} - templates"
    ansible.builtin.template:
      src: "templates/{{ my_file }}/{{ item.name }}.j2"
      dest: "{{ item.dest }}/{{ item.name }}"
      owner: "{{ item.owner|default('root') }}"
      group: "{{ item.group|default('root') }}"
      mode: "{{ item.mode|default('0644') }}"
      force: "{{ item.force|default('yes') }}"
    with_items: "{{ templates }}"

  - name: "{{ my_name }} - manage startup services"
    ansible.builtin.service:
      name: "{{ item.name }}"
      state: "{{ item.state|default('stopped') }}"
      enabled: "{{ item.enabled|default('no') }}"
      daemon_reload: true
    with_items: "{{ systemd_units }}"

  #
  # FIREWALL
  #
  - name: "{{ my_name }} - checking firewall rule"
    ansible.builtin.stat:
      path: /etc/firewalld/services
    register: firewalld_services

  - name: "{{ my_name }} - enable firewall rule"
    ansible.posix.firewalld:
      zone: retro
      port: 1649/tcp
      permanent: true
      state: enabled
      immediate: true
    when: firewalld_services.stat.exists

- ansible.builtin.import_playbook: retronas_system_config.yml
  vars:
    module_name: "kermit"
    module_state: "present"