# Dependencies
- import_playbook: install_dvdauth.yml
- import_playbook: install_eccedc.yml

- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "Disc Image Creator"
    - my_file: "install_disc-image-creator"

    - my_packages:
      - git
      - coreutils
      - make
      - gcc
      - g++
      - curl
      - build-essential
      - unzip

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - Install dependencies"
    package:
       name: "{{ my_packages }}"
       state: latest

  - name: "{{ my_name }} - Prepare installer script"
    template:
      src: templates/{{ my_file }}/{{ my_file }}.sh.j2
      dest: "{{ retronas_root }}/scripts/{{ my_file }}.sh"
      owner: root
      group: root
      mode: 0755

  - name: "{{ my_name }} - Run installer"
    shell:
      cmd: "./{{ my_file }}.sh 2>&1 | tee {{ retronas_root }}/log/{{ my_file }}.log"
      chdir: "{{ retronas_root }}/scripts"
      executable: /bin/bash

- import_playbook: retronas_system_config.yml
  vars:
    module_name: "disc-image-creator"
    module_state: "present"
