# Dependencies
- import_playbook: install_samba.yml
- import_playbook: install_romdir.yml

- hosts: localhost

  vars:
    - my_name: "XBox360"
    - my_file: "install_xbox360"
  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - top level directory"
    file:
      path: "{{ retronas_path }}/xbox360"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_group }}"
      state: directory
      mode: "0775"
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - symlinks"
    file:
      src: "{{ item.src }}"
      dest: "{{ retronas_path }}/xbox360/{{ item.dest }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_group }}"
      state: link
    with_items:
      - { src: "../roms/microsoft/xbox360/games", dest: "games" }
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - configure includes file"
    ini_file:
      path: /etc/samba/smb.conf
      section: xbox360
      option: "include"
      value: "/etc/samba/retronas_xbox360.conf"
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - configure retro shares"
    template:
      src: "templates/{{ my_file }}/retronas_xbox360.conf.j2"
      dest: /etc/samba/retronas_xbox360.conf
      owner: root
      group: root
      mode: '0644'
    notify: "{{ my_name }} - Restart service"

  handlers:

  - name: "{{ my_name }} - Restart service"
    service:
      name: "{{ item }}"
      state: restarted
    with_items:
      - smbd
      - nmbd

- import_playbook: retronas_system_config.yml
  vars:
    module_name: "xbox360"
    module_state: "present"