- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "redumper"
    - my_file: "install_{{ my_name }}"

    - packages:
      - unzip
      - jq

    - templates:
      - { name: "{{ my_file }}.sh", dest: "{{ retronas_root }}/scripts", mode: "0755"}

  tasks:
    - name: "{{ my_name }} - Load RetroNAS config"
      include_vars: retronas_vars.yml

    - name: "{{ my_name }} - Install dependencies"
      package:
        name: "{{ packages }}"
        state: latest

    - name: "{{ my_name }} - templates"
      template:
        src: "templates/{{ my_file }}/{{ item.name }}.j2"
        dest: "{{ item.dest }}/{{ item.name }}"
        owner: "{{ item.owner|default('root') }}"
        group: "{{ item.group|default('root') }}"
        mode: "{{ item.mode|default('0644') }}"
        force: "{{ item.force|default('yes') }}"
      with_items: "{{ templates }}"


- import_playbook: retronas_system_config.yml
  vars:
    module_name: "redumper"
    module_state: "present"