# Dependencies
- import_playbook: install_romdir.yml

- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "nabu"
    - my_file: "install_{{ my_name }}"
    - my_dir: /opt/nabu

    - systemd_units:
      - { name: "nabu", type: 'service', state: "started", enabled: "yes", restart: "yes", instance: "no" }

    - packages:
      - unzip

    - templates:
      - { name: "{{ my_file }}.sh", dest: "{{ retronas_root }}/scripts", mode: "0755" }
      - { name: "{{ my_name }}.sh", dest: "{{ retronas_root }}/scripts",  mode: "0755", owner: "{{ retronas_user }}", group: "{{ retronas_group }}" }

    - links:
      - { dest: "/home/{{ retronas_user }}/NABU Internet Adapter", src: "{{ retronas_path }}/roms/nabu" }

  tasks:

  - name: "{{ my_name }} - Include systems map"
    include_vars: "retronas_systems.yml"

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - Install build tools"
    package:
       name: "{{ packages }}"
       state: latest

  - name: "{{ my_name }} - add {{ retronas_user }} to dialout group"
    user:
      name: "{{ retronas_user }}"
      group: "dialout"
      append: yes

  - name: "{{ my_name }} - links"
    file:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      state: "{{ item.state|default('link') }}"
    with_items: "{{ links }}"

  - name: "{{ my_name }} - templates"
    template:
      src: "templates/{{ my_file }}/{{ item.name }}.j2"
      dest: "{{ item.dest }}/{{ item.name }}"
      owner: "{{ item.owner|default('root') }}"
      group: "{{ item.group|default('root') }}"
      mode: "{{ item.mode|default('0644') }}"
      force: "{{ item.force|default('yes') }}"
    with_items: "{{ templates }}"

  - name: "{{ my_name }} - Install"
    shell: "{{ retronas_root }}/scripts/{{ my_file }}.sh 2>&1 | tee {{ retronas_root }}/log/{{ my_file }}.log"
    args:
      creates: "{{ retronas_root}} {{ my_dir }}/nabu.sh"

- import_playbook: retronas_system_config.yml
  vars:
    module_name: "nabu"
    module_state: "present"