- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "ntp"
    - my_service: "openntpd"
    - my_file: "install_ntp"

    - packages:
      - openntpd

    - remove_packages:
      - ntp

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    ansible.builtin.include_vars: retronas_vars.yml

  - name: "{{ my_name }} - Load RetroNAS systems"
    ansible.builtin.include_vars: retronas_systems.yml

  - name: "{{ my_name }} - remove packages"
    ansible.builtin.package:
       name: "{{ remove_packages }}"
       state: absent

  - ansible.builtin.import_role:
      name: retronas.role.package.latest

  - name: "{{ my_name }} - listen"
    ansible.builtin.lineinfile:
      path: "/etc/openntpd/ntpd.conf"
      search_string: "^listen on *$"
      insertafter: "^# Addresses to listen on (ntpd does not listen by default)$"
      line: "listen on *"
    notify: "{{ my_name }} - Restart service"


  handlers:

  - name: "{{ my_name }} - Restart service"
    ansible.builtin.service:
      name: "openntpd.service"
      state: restarted
      daemon_reload: yes
      enabled: yes

- ansible.builtin.import_playbook: retronas_system_config.yml
  vars:
    module_name: "ntp"
    module_state: "present"