- hosts: localhost

  vars:
    - my_name: "litch"
    - my_file: "install_litch"

    - scripts:
      - litch_login
      - litch_download
      - litch_download_clean
      - litch_claim

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - install dependencies"
    apt:
       name: "{{ item }}"
       state: latest
    with_items:
      - python3
      - python3-bs4
      - git

  - name: "{{ my_name }} - create GOG dir"
    file:
      path: "{{ retronas_path }}/{{ item }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_group }}"
      mode: "0775"
      state: directory
    with_items:
      - itchio

  - name: "{{ my_name }} - download litch"
    shell:
      chdir: "{{ retronas_root }}/bin"
      cmd: "git clone https://github.com/sairuk/litch.git"
      creates: "{{ retronas_root }}/bin/litch"

  - name: "{{ my_name }} - update litch"
    shell: 
      chdir: "{{ retronas_root }}/bin/litch"
      cmd: "git pull"

  - name: "{{ my_name }} - scripts"
    template:
      src: "templates/{{ my_file }}/{{ item }}.sh.j2"
      dest: "{{ retronas_root }}/scripts/{{ item }}.sh"
      owner: root
      group: root
      mode: 0755
    with_items: "{{ scripts }}"

- import_playbook: retronas_system_config.yml
  vars:
    module_name: "litch"
    module_state: "present"