- hosts: localhost
  gather_facts: yes

# Dependencies
- ansible.builtin.import_playbook: install_dotnetcore3.yml
  when: ansible_architecture == "x86_64"

- hosts: localhost
  gather_facts: yes

  vars:
    - my_name: "SabreTools"
    - my_file: "install_sabretools"

    - packages:
      - git
      - coreutils
      - unzip

    - my_arch: "x86_64"

  tasks:

  - name: "{{ my_name }} - Checking hw platform compatiblity"
    ansible.builtin.debug:
      msg: "INCOMPATIBLE PLATFORM, only {{ my_arch }} is supported"
    when: ansible_architecture != my_arch

  - ansible.builtin.meta: end_play
    when: ansible_architecture != my_arch

  - name: "{{ my_name }} - Load RetroNAS config"
    ansible.builtin.include_vars: retronas_vars.yml

  - ansible.builtin.import_role:
      name: retronas.role.package.latest

  - name: "{{ my_name }} - Prepare installer script"
    ansible.builtin.template:
      src: templates/{{ my_file }}/{{ my_file }}.sh.j2
      dest: "{{ retronas_root }}/scripts/{{ my_file }}.sh"
      owner: root
      group: root
      mode: 0755

  - name: "{{ my_name }} - Run installer"
    ansible.builtin.shell:
      cmd: "./{{ my_file }}.sh 2>&1 | tee {{ retronas_root }}/log/{{ my_file }}.log"
      chdir: "{{ retronas_root }}/scripts"
      executable: /bin/bash

- ansible.builtin.import_playbook: retronas_system_config.yml
  vars:
    module_name: "sabretools"
    module_state: "present"
  when: ansible_architecture == "x86_64"