---
- hosts: localhost
  gather_facts: no

  vars:
    my_name: "network manager"
    my_file: "install_{{ my_name }}"
    my_services: "NetworkManager.service"

    collections:
      - { collection: community.general, creates: community/general/nmcli }

  tasks:

  - name: "{{ my_name }} - does nothing"
    debug:
      msg: "currently does nothing"