# Dependencies
- import_playbook: install_lighttpd.yml

- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "3DS QR Codes"
    - my_file: "install_3ds_qr_codes"
    - rom_path: "{{ retronas_path }}/3ds"

    - dirs:
      - cia
      - qr

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - configure 3DS directory"
    file:
      path: "{{ rom_path }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_group }}"
      state: directory
    
  - name: "{{ my_name }} - create dirs"
    file:
      path: "{{ rom_path }}/{{ item }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_group }}"
      state: directory
    when: "{{ dirs }}"

  - name: "{{ my_name }} - link 3DS cia directory"
    file:
      src: "{{ rom_path }}/cia"
      dest: "{{ retronas_path }}/roms/nintendo/3ds/cia"
      state: link

  - name: "{{ my_name }} - install qrencode"
    apt:
       name: qrencode
       state: latest

  - name: "{{ my_name }} - configure QR generator script"
    template:
      src: "templates/{{ my_file }}/3ds_qr.sh.j2"
      dest: "{{ retronas_root }}/scripts/3ds_qr.sh"
      owner: root
      group: root
      mode: '0755'

- import_playbook: retronas_system_config.yml
  vars:
    module_name: "3ds_qr_codes"
    module_state: "present"