- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "amitools"
    - my_file: "install_{{ my_name }}"

    - packages:
      - python3
      - python3-pip

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - Install build tools"
    package:
       name: "{{ packages }}"
       state: latest

  - name: "{{ my_name }} - Generate {{ my_file }} script"
    template:
      src: "templates/{{ my_file }}/{{ my_file }}.sh.j2"
      dest: "{{ retronas_root }}/scripts/{{ my_file }}.sh"
      owner: root
      group: root
      mode: 0755

  - name: "{{ my_name }} - Install from source code"
    shell: "{{ retronas_root }}/scripts/{{ my_file }}.sh 2>&1 | tee {{ retronas_root }}/log/{{ my_file }}.log"

- import_playbook: retronas_system_config.yml
  vars:
    module_name: "amitools"
    module_state: "present"