- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "gogrepo"
    - my_file: "install_gogrepo"

    - packages:
      - python3
      - python-is-python3
      - python3-html5lib
      - git
      - sudo

    - scripts:
      - "gogrepo_login.sh" 
      - "gogrepo_import-cookies.sh"
      - "gogrepo_download.sh"
      - "gogrepo_update.sh"
      - "gogrepo-wrapper.sh"

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    ansible.builtin.include_vars: retronas_vars.yml

  - ansible.builtin.import_role:
      name: retronas.role.package.latest

  - name: "{{ my_name }} - create GOG dir"
    ansible.builtin.file:
      path: "{{ retronas_path }}/{{ item }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_group }}"
      mode: "0775"
      state: directory
    with_items:
      - gog

  - name: "{{ my_name }} - download gogrepo+patches (sairuk)"
    ansible.builtin.shell:
      chdir: "{{ retronas_root }}/bin"
      cmd: "git clone https://github.com/sairuk/gogrepo.git"
      creates: "{{ retronas_root }}/bin/gogrepo"

  - name: "{{ my_name }} - update gogrepo"
    ansible.builtin.shell: 
      chdir: "{{ retronas_root }}/bin/gogrepo"
      cmd: "git pull"

  - name: "{{ my_name }} - scripts"
    ansible.builtin.template:
      src: "templates/{{ my_file }}/{{ item }}.j2"
      dest: "{{ retronas_root }}/scripts/{{ item }}"
      owner: root
      group: root
      mode: 0755
    with_items: "{{ scripts }}"

- ansible.builtin.import_playbook: retronas_system_config.yml
  vars:
    module_name: "gogrepo"
    module_state: "present"