- hosts: localhost

  vars:
    - my_name: "Batocera CIFS"
    - my_file: "install_batocera_cifs"

    - top_level_paths:
      - { name: "ROMS", enabled: "yes",  generic: "roms", systems: "yes" }
      - { name: "SAVES", enabled: "yes",  generic: "saves", systems: "yes"  }
      - { name: "BIOS", enabled: "yes",  generic: "bios", systems: "yes"  }

    - internal_symlinks:
      - { src: 'sega/megadrive', dest: 'msu-md' }

  tasks:

  - name: "{{ my_name }} - Include systems map"
    include_vars: "retronas_systems.yml"

  - name: "{{ my_name }} - Load RetroNAS config"
    include_vars: retronas_vars.yml

  - name: "{{ my_name }} - build top level"
    file:
      path: "{{ retronas_path }}/batocera"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_user }}"
      state: directory
      mode: "0775"
    notify: "{{ my_name }} - Restart service"

  - name: "get facts for path"
    stat:
      path: "{{ retronas_path }}/batocera/{{ item.batocera }}"
    with_items:
      - "{{ system_map }}"
    register: batocera_stat

  - name: "{{ my_name }} - build top level share paths"
    file:
      path: "{{ retronas_path }}/batocera/{{ item.name }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_user }}"
      state: directory
      mode: "0775"
    with_items:
      "{{ top_level_paths }}"
    when: 
      - item.enabled == "yes"
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - build systems directory layout"
    file:
      src: "../../{{ item.1.generic|lower }}/{{ item.0.src }}"
      dest: "{{ retronas_path }}/batocera/{{ item.1.name }}/{{ item.0.batocera }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_user }}"
      state: link
    with_nested:
      - "{{ system_map }}"
      - "{{ top_level_paths }}"
    when: 
      - item.1.enabled == "yes"
      - item.0.batocera | length > 0
      - item.1.systems == "yes"
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - build internal hacks directory layout"
    file:
      src: "../roms/{{ item.src }}"
      dest: "{{ retronas_path }}/batocera/{{ item.dest }}"
      owner: "{{ retronas_user }}"
      group: "{{ retronas_user }}"
      state: link
    with_items:
      - "{{ internal_symlinks }}"
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - configure includes file"
    ini_file:
      path: /etc/samba/smb.conf
      section: batocera
      option: "include"
      value: "/etc/samba/retronas_batocera.conf"
    notify: "{{ my_name }} - Restart service"

  - name: "{{ my_name }} - configure retro shares"
    template:
      src: "templates/{{ my_file }}/retronas_batocera.conf.j2"
      dest: /etc/samba/retronas_batocera.conf
      owner: root
      group: root
      mode: '0644'
    notify: "{{ my_name }} - Restart service"

  handlers:

  - name: "{{ my_name }} - Restart service"
    service:
      name: "{{ item }}"
      state: restarted
    with_items:
      - smbd
      - nmbd
