- hosts: localhost
  gather_facts: no

  vars:
    - my_name: "mc"
    - my_file: "install_mc"

    - my_packages:
      - mc

  tasks:

  - name: "{{ my_name }} - Load RetroNAS config"
    ansible.builtin.include_vars: retronas_vars.yml

  - name: "{{ my_name }} - Load RetroNAS systems"
    ansible.builtin.include_vars: retronas_systems.yml

  - ansible.builtin.import_role:
      name: retronas.role.package.latest

- ansible.builtin.import_playbook: retronas_system_config.yml
  vars:
    module_name: "mc"
    module_state: "present"