#!/bin/bash

SABREVER=1.1.0
SABREURL=https://github.com/SabreTools/SabreTools/releases/download/${SABREVER}/SabreTools.v${SABREVER}.x86-64_netcoreapp3.1.zip
SABRELFILE=/tmp/sabre.zip
SABRELOCAL=/opt/sabretools
ISNIGHTLY=0

### SABRETOOLS
# -- Download
[ ! -f ${SABRELFILE} ] && wget -qO ${SABRELFILE} ${SABREURL}
[ $? -ne 0 ] && echo "Sadness getting Sabretools" && exit 1

[ ! -d ${SABRELOCAL} ] && /bin/mkdir ${SABRELOCAL} || echo "Missing ${SABRELOCAL}"
# -- Unpack
if [ $ISNIGHTLY == 1 ]
then
  [ -f ${SABRELFILE} ] && /usr/bin/unzip -o ${SABRELFILE} -d /tmp/ || echo "Missing: ${SABRELFILE}"
  mv /tmp/SabreTools/bin/Debug/netcoreapp3.1/* ${SABRELOCAL}/
else
  [ -f ${SABRELFILE} ] && /usr/bin/unzip -o ${SABRELFILE} -d ${SABRELOCAL} || echo "Missing: ${SABRELFILE}"
fi

# -- create sabretools exec
cat << 'EOST' > /usr/local/bin/sabretools
#!/bin/bash
PATH=/opt/sabretools:{{ retronas_root }}/bin/dotnetcore3:{{ retronas_root }}/bin/dotnetcore3/tools:${PATH}
DOTNET_ROOT={{ retronas_root }}/bin/dotnetcore3
export DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
dotnet /opt/sabretools/SabreTools.dll $*
EOST

# -- Perms
chmod +x /usr/local/bin/sabretools
chmod 755 ${SABRELOCAL}

### CLEANUP
rm ${SABRELFILE}