#!/bin/bash
#
# PI1541 installer
#

set -u

TMPFILES=$(mktemp -d)
TARGET=/mnt/pi1541

MOUNT_DRIVE() {
	echo "Mounting drive /dev/$1 at $TARGET"
	MNTPOINT=$(mount | grep $1 | awk '{print $3}')
	if [ ! -z "${MNTPOINT}" ]
	then
		echo "Drive already mounted at $MNTPOINT, wont mount"
	else
		echo "Drive not mounted, will mount to $TARGET"
		mkdir -p $TARGET
		mount -t vfat /dev/$1 $TARGET
	fi
}

INSTALL_PI1541() {
	ARCHIVE=Pi1541.zip
	echo "Downloading & installing $ARCHIVE to $TARGET"
	cd $TMPFILES
	curl -sO https://cbm-pi1541.firebaseapp.com/$ARCHIVE
	unzip -qq -o $ARCHIVE
	cp -R Pi1541/* $TARGET/
	rm -f $ARCHIVE
}

INSTALL_FIRMWARE() {
	cd $TMPFILES
	echo "Downloading & installing required RPI firmware to $TARGET"
	curl -sLO https://github.com/raspberrypi/firmware/archive/1.20180919.zip
	unzip -qq -o -j 1.20180919.zip firmware-*/boot/{bootcode.bin,fixup.dat,start.elf} -d $TARGET/
	rm -rf firmware-*/
}

INSTALL_ROM() {
	cd $TMPFILES
	echo "Downloading & installing drive rom"
	curl -sL -o vice-tmp.zip https://sourceforge.net/projects/vice-emu/files/latest/download
	unzip -qq -o -j vice-tmp.zip "*/DRIVES/dos1541" -d $TARGET/
}

INSTALL_FONT() {
	cd $TMPFILES
	echo "Downloading & installing CBM font"
	unzip -qq -o -j vice-tmp.zip "*/C64/chargen" -d $TARGET/    
}

INSTALL_ROMS() {
        SYSTEMS=(
            commodore64 
            commodore128 
            commodore16 
            commodoreplus4 
            vic20 
            exit
        )

    echo "Select a system to copy roms for to the $TARGET"

    select SYSTEM in "${SYSTEMS[@]}"
    do  
        [ $SYSTEM == "exit" ] && echo "Exiting..." && exit 0
        ROMPATH="{{ retronas_path }}/roms/commodore/$SYSTEM"

        echo "$(df -h | grep "$TARGET" | awk '{print $1, "has", $4, "free"}') $(du -hs $ROMPATH | awk '{print $1, "is required"}')"
	    read -p "Continue? [y/N]: " ANSWER

	    case $ANSWER in
	      y|Y)
            if [ ! -z "$SYSTEM" ]
            then
                ROMSYS="$TARGET/1541/$SYSTEM"
                echo "Copying roms from $ROMPATH"
                [ ! -d "$ROMSYS" ] && mkdir -p "$ROMSYS"
                cp -R "$ROMPATH/"* "$ROMSYS"
                INSTALL_ROMS

            fi
            ;;
	      *)  
            INSTALL_ROMS
            ;;
        esac
    done
}

CLEANUP() {
	echo "Cleaning up"
	rm -rf $TMPFILES

	echo "Unmounting $TARGET"
	umount $TARGET
}

SELECT_DRIVE() {
	FAT32DEVS=($(lsblk -f -r | grep -v boot | awk '/vfat/{print $1}' ) exit)

	echo "Available FAT32 devices"
	select DRIVE in "${FAT32DEVS[@]}"
	do
	    [ $DRIVE == "exit" ] && echo "Exiting..." && exit 0
	    
	    read -p "Are you sure? [y/N]: " ANSWER

	    case $ANSWER in
	      y|Y)
		if [ ! -z "$DRIVE" ]
		then
			MOUNT_DRIVE $DRIVE
			INSTALL_FIRMWARE
			INSTALL_PI1541
			INSTALL_ROM
			CLEANUP
		fi
		exit
		;;
	      *)  
		SELECT_DRIVE $1
		;;
	    esac
	done
}


cat << TITLE
*********************************************
*
* Pi1541 installer
*
* You will be prompted for a drive to setup
* for use with Pi1541
*
*********************************************
TITLE

SELECT_DRIVE
