[Unit]
Description=UDPBD for PlayStation2
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
User={{ retronas_user }}
Environment="UDPBD_DEVICE={{ retronas_path }}/{{ my_name }}/retronas_udpbd.img"
ExecStart={{ retronas_root }}/bin/udpbd-server ${UDPBD_DEVICE}
Restart=on-failure
RestartSec=1
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
