#!/bin/bash

select_device() {
    IFS=$'\n'
    DEVICE=()
    DEVICES+=($(lsblk -sl 2>/dev/null | awk '/(disk|part|rom)/{print $1" ("$4")"}' | sort -u))
    DEVICES+=($(ls -la {{ retronas_path }}/images/* 2>/dev/null | awk '{print $9}'))
    DEVICES+=("quit")

    [ {{ ''.join (('$','{', '#DEVICES[@]}')) }} -le 1 ] && echo "No targets found, exiting ... " && exit 1
    select SDEVICE in "${DEVICES[@]}"
    do
        DEVICE="$(echo ${SDEVICE} | awk -F ' ' '{print $1}')"
        [ $SDEVICE == "quit" ] && echo "User requested exit ..." && exit 0
        [ ! -z "${DEVICE}" ] && break
    done
}

select_device

if [ ! -z $DEVICE ]
then
    sed -i -r "s#(UDPBD_DEVICE=).*#\1/dev/${DEVICE}\"#" /etc/systemd/system/ps2_udpbd.service
    systemctl daemon-reload
fi