#!/bin/bash

SRCDIR="{{ retronas_root }}/src"
BINDIR="{{ retronas_root }}/bin"

#echo "Installing prerequisite packages..."
#apt install -y curl wget make gcc g++ automake autoconf build-essential unzip libmbedtls-dev libmbedtls12 meson ninja-build

echo "Configuring build directories..."
rm -rf "${SRCDIR}"
mkdir -p "${SRCDIR}"
cd "${SRCDIR}"

echo "Downloading ps3netsrv source code..."

#SOURCECODE=$( curl -kLs 'https://github.com/aldostools/webMAN-MOD/releases/latest' | awk -F '"' '/href.*ps3netsrv.*zip/{print $2}'
#SOURCECODE=$( curl -kLs 'https://github.com/aldostools/webMAN-MOD/tags' | awk -F '"' /href.*${PATTERN}/'{print $4}' | head -n1 )
SOURCECODE=$( curl -kLs https://api.github.com/repos/aldostools/webMAN-MOD/releases | jq -r ".[0].assets | map(select(.name | match (\"ps3netsrv\")))[-1] | .browser_download_url" )
[ -z "$SOURCECODE" ] && echo "Couldn't get source code name" && exit 1

echo $SOURCECODE
#curl -OJL "https://github.com/${SOURCECODE}"
curl -OJL "${SOURCECODE}"
unzip ps3netsrv*.zip
cd ps3netsrv*/src
meson buildrelease --buildtype=release
ninja -C buildrelease

echo "Moving binary to RetroNAS bin dir..."
mkdir -p "${BINDIR}" 2>/dev/null
mv -vf buildrelease/ps3netsrv "${BINDIR}"/

echo "Cleaning up..."
rm -rf "${SRCDIR}"

echo "All done!"
